@import url('https://fonts.googleapis.com/css?family=Aboreto');

body{
background-color: cornsilk;
color: orangered;
}

p{
    color: darkorchid;
}

h1{
    font-family: 'Aboreto';font-size: 22px;
    
}

