
body{
background-color: cornsilk;
color: orangered;
max-width: calc(80%);
margin-left: auto;
margin-right: auto;
font-family: 'Anaheim';
}

p {
    color:black;
    font-size: 19px; 
}

.recipegrid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 3em;
    justify-content: space-around;
    gap: 12px;
    
}

.recipe {
    background-color: white;
    min-width: 250px;
    border: 2px solid orangered;
    text-align: center;
    flex: 1;

}

.preview {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.info {
    padding: .5em;
    font-size: 2em;
    margin: 0em;
    font-family: 'Aboreto';
    align-self: center;
}

.byline {
    font-family: 'Anaheim';
    margin-top: 0em;
}

.pf {
    padding-top: 20pt;
}

li {
    color:mediumblue;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 18px;
    padding-bottom: 10pt
    
}

.header{
    font-family: 'Aboreto';
    text-align: center;
    margin-bottom: 0em;
    padding: .5em;
}

.huge {
    font-size: 100pt;
    line-height: 90%;
    padding: 0em;
}

.ingredients {
    border: 2px solid orangered;
    border-radius: 4pt;
    box-sizing: border-box;
    width: 350px;
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0pt;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 60px;
}

h2 {
    font-size: 30px;
    text-underline-offset: 1pt;
    margin-bottom: 5pt;
}

h3 {
    line-height: 0px;
}

.author {
    color: mediumblue

}

b{
    color:orangered;
    text-transform: uppercase;
}

.image {
    display: block;
    width: 100%;

}    

ol {
    padding: 0em;
}


.centertype {
    text-align: center;
    margin-top: 0em;
    padding: .5em;

}  


a {
    text-decoration: none;
}

.footer{
    font-family: 'Aboreto';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border: 1px solid  orangered;
    background-color: orangered;
    border-radius: 5px;
    width: max-content;
    padding: 3px;
    margin-top: 40px;
    margin-bottom: 80px;

}

.note{
    color:mediumblue;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 18px;
    padding-bottom: 10pt
}

