
body{
background-color: cornsilk;
color: orangered;
max-width: calc(60%);
margin-left: calc(15%);
font-family: 'Anaheim';
}

p {
    color:black;
    font-size: 19px; 
}

.pf {
    line-height: 30%;
}

.pl {
    padding-bottom: 10pt;
}

li {
    color:mediumblue;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 18px;
    padding-bottom: 10pt
}

.header{
    font-family: 'Aboreto';
    text-align: center;
    font-style: underline;

}

.ingredients {
    border: 3px solid orangered;
    border-radius: 4pt;
    width: fit-content;
    max-width: 300px;
    padding-top: 10pt;
    padding-bottom: 12pt;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 60px;
    padding-bottom: 20pt;
   
}

h2 {
    font-size: 30px;
    text-underline-offset: 1pt;
}

h3 {
    line-height: 0%;
}

b{
    color:orangered;
    text-transform: uppercase;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 3px solid orangered;
    border-radius: 15px;

  }

.centertype {
    text-align: center;
}  
.preview {
    width: 60%;
    max-height: 500;
}

a {
    text-decoration: none;
}

.footer{
    font-family: 'Aboreto';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border: 1px solid  orangered;
    background-color: orangered;
    border-radius: 5px;
    width: max-content;
    padding: 3px;

}

.note{
    color:mediumblue;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 18px;
    padding-bottom: 10pt
}

